[Unit]
Description=ssh_reverse_proxy
After=network.target

[Service]
User=${USER}
Group=${GROUP}
Type=forking
ExecStart=autossh -fCNR ${PORT_REMOTE}:127.0.0.1:${PORT_LOCAL} ${SSH_USER}@${SSH_HOST} -p ${SSH_PORT}
TimeoutSec=0
RemainAfterExit=yes
GuessMainPID=no

[Install]
WantedBy=multi-user.target
